<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>To-Do-List</title>

  <link rel="stylesheet" type="text/css" href="styles.css" />

  <link rel="icon" href="icon.jpg">
  

</head>

  <body>
